<!DOCTYPE html>
<html>
  <head>
    <title>Amica</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="Amica" />
    <meta property='og:image' content="<%= image_url('Homepage.png') %>"/>
    <meta property="og:description"
      content="Full-stack chat application clone of the popular instant messaging and digital distribution platform Discord"
    />
    <meta property="og:url"
      content="https://amica-aa.herokuapp.com/#/"
    />

    <script type="text/javascript">
        window.qrcodeURL = "<%= image_url('qr_img.png') %>";
        window.discordHeader = "<%= image_url('discordheader.jpg')%>";
        window.logo = "<%= image_url('logo.png')%>";
        window.logo2 = "<%= image_url('logo2.png')%>";
        window.hashtag = "<%= image_url('hashtag.png')%>";
        window.plus = "<%= image_url('plus.png')%>";
        window.createServerSvg = "<%= image_url('create_server_icon.svg')%>";
        window.serverPlusArrow = "<%= image_url('server_plus_arrow.svg')%>";
        window.spGaming = "<%= image_url('sp_gaming.svg')%>";
        window.spSchoolclub = "<%= image_url('sp_schoolclub.svg')%>";
        window.spStudygroup = "<%= image_url('sp_studygroup.svg')%>";
        window.spImportImg = "<%= image_url('import_img.svg')%>";
        window.ssDropArrow = "<%= image_url('server_setting_drop.svg')%>"; 
        window.invite = "<%= image_url('invite.svg')%>";
        window.serverSetting = "<%= image_url('server_setting.svg')%>";
        window.createChannel = "<%= image_url('create_channel.svg')%>";
        window.sspExit = "<%= image_url('ssp_exit.svg')%>";
        window.close = "<%= image_url('close.svg')%>";
        window.mh_member = "<%= image_url('mh_member.svg')%>";
        window.mh_mute = "<%= image_url('mh_mute.svg')%>";
        window.mh_pin = "<%= image_url('mh_pin.svg')%>";
        window.mh_magnify = "<%= image_url('mh_magnify.svg')%>";
        window.chat_attach = "<%= image_url('chat_attach.svg')%>";
        window.friend_icon = "<%= image_url('friend_icon.svg')%>";
    </script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">

    <%= favicon_link_tag asset_path('logo.png') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
